* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.header ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    gap: 12px;
    color: #e5e7eb;
    align-items: center;
}

.logo {
    margin-right: auto;
    font-size: 24px;
    color: #f9faf8;
}

.header {
    padding: 24px 80px;
    margin-bottom: 48px;
}

.hero-section {
    display: flex;
    gap: 30px;
    padding: 24px 80px;
    justify-content: space-between;
}

.first {
    background-color: #1f2937;
    margin-bottom: 36px;
}

.text-area h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    flex-wrap: wrap;
    margin-bottom: 16px;
}

.text-area p {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 16px;
}

.text-area {
    max-width: 500px;
}

.text-area button {
    background-color: #3882f6;
    padding: 8px 16px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    border-radius: 8px;
    border: 0 none;
}

.first {
    padding-bottom: 48px;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.image {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.second h2 {
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin-bottom: 36px;
}

.second {
    padding-bottom: 48px;
}

.header a {
    text-decoration: none;
    color:#e5e7eb;
}

.third {
    background-color: #e5e7eb;
    padding: 76px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    margin-bottom: 24px;
    max-width: 450px;
}

.author {
    font-size: 24px;
    margin-left: 400px;
    font-weight: 700;
}

.fourth {
    padding: 80px;
}

.blue-section {
    background-color: #3882f6;
    color:#f9faf8;
    padding: 36px;
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
}

.blue-section button {
    background-color: #3882f6;
    border: 2px solid #f9faf8;
    color: #f9faf8;
    padding: 6px 20px;
    border-radius: 16px;
}

.footer {
    background-color: #1f2937;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
}
